
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container, .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

form {
    width: 95%;
}

.login-card, .register-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.login-card h2, .register-card h2 {
    margin-bottom: 20px;
    color: #005DBB; /* Detalles en color especificado */
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.login-btn, .register-btn {
    background-color: #005DBB;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-btn:hover, .register-btn:hover {
    background-color: #004494; /* Un tono más oscuro del color especificado */
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

.footer a {
    color: #005DBB;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
